body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStysQ_pyEEJH5dBeLXRvP8QsTCT6V9T5ObIQ&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}
